{% extends '../layouts/default.html' %}

{% block content %}

{% include '../components/nav.html' %}

<main>
    <section>
        <h1>Stap 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur sodales tellus, nec mattis libero sollicitudin quis. Quisque vitae felis ut ipsum tristique varius. Aenean sollicitudin sem at volutpat cursus. Vivamus sit amet dui turpis. Suspendisse a sem dignissim, accumsan sem ut, rhoncus ipsum. Mauris egestas lacinia dictum. Nunc vel sagittis elit. Maecenas id elementum metus, quis pulvinar eros. In sed semper justo. Morbi laoreet ipsum vel tortor sagittis, vel hendrerit orci bibendum.</p>
    </section>
</main>

{% endblock %}