{% extends '../layouts/default.html' %}

{% block content %}

{% include '../components/nav.html' %}

<main>
    <section>
        <h1>Stap 4</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices, turpis vehicula volutpat maximus, erat mi rutrum augue, vehicula tincidunt magna neque a odio. Proin tempor venenatis ultrices. Curabitur quis nulla vel massa tincidunt vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus sodales enim eu leo iaculis convallis. Praesent lectus velit, maximus quis luctus nec, condimentum in velit. Sed scelerisque, quam eu condimentum pulvinar, augue magna eleifend sem, vitae consectetur sem eros at risus. Curabitur ultrices tempus risus, eu vestibulum ipsum blandit non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta tincidunt felis, non venenatis nisl. Nulla fringilla vulputate diam eget fermentum. Cras sed mauris mollis, imperdiet libero sed, dignissim dui. Nam ornare lobortis sem non porttitor. Praesent orci sapien, pharetra at eros non, tristique tempor nunc.</p>
    </section>
</main>

{% endblock %}