{% extends '../layouts/default.html' %}

{% block content %}

{% include '../components/nav.html' %}

<main>
    <section>
        <h1>Stap 2</h1>
        <p>Fusce a sollicitudin nisl. Duis scelerisque placerat facilisis. Mauris malesuada sapien vitae ex tempus volutpat. Sed non iaculis turpis. Pellentesque non mi ac quam tincidunt cursus. Praesent ligula erat, tristique eleifend purus at, vestibulum gravida mi. In elementum mi posuere, sagittis justo nec, elementum lacus. Nam ex leo, facilisis ut odio interdum, molestie condimentum libero. Nam blandit risus nec diam vehicula vulputate. Ut mollis et est ac eleifend. Vivamus volutpat erat pharetra lorem facilisis pretium. Nunc at enim iaculis, dictum sapien eget, facilisis dolor. Aenean id fermentum felis, sit amet ultricies orci.</p>
    </section>
</main>

{% endblock %}