{% extends '../layouts/default.html' %}

{% block content %}

{% include '../components/nav.html' %}

<main>
    <section>
        <h1>Stap 3</h1>
        <p>Sed convallis pulvinar tellus, nec ullamcorper libero semper eget. Quisque at euismod neque. Duis consectetur non lorem sed finibus. Nullam mollis, neque quis bibendum pellentesque, sapien augue dignissim odio, sed interdum augue mi ut turpis. Vestibulum quis sapien eget diam accumsan molestie quis at arcu. Sed tincidunt elit ut sapien fringilla convallis. Phasellus pretium eros nisi, vitae feugiat mi pretium sit amet.</p>
    </section>
</main>

{% endblock %}